<div class="form-container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
            <mat-label>NickName</mat-label>
            <input matInput #nickName formControlName="nickname" maxlength="10" placeholder="Enter a nickname">
            <mat-hint align="end">{{nickName.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Type your name">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" placeholder="Type your surname">
        </mat-form-field>
        <div>
            <button mat-button color="primary" type="submit" [disabled]="!createForm.valid">Submit</button>
        </div>
        
    </form>
</div>


    <!--
        <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
    -->
    
     